# Project exclude paths
/consumer/target/
/eureka_client/target/
/eureka_server/target/
/feign/target/
/hystrix/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/resttemplate/target/
/ribbon/target/
/zuul/target/